{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Male</th>
                <td>{{ user.male ? 'Female' : 'Male' }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ user.target ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Faves Users</th>
                {% for faveUser in user.getFavoriteUsers() %}
                    <td><a href="{{ path('user_show', {id: faveUser.id }) }}">{{ faveUser.name }}</a></td>
                {% endfor %}
            </tr>
            <tr>
                <th>Faves Products</th>
                {% for faveProduct in user.getFavoriteProducts() %}
                    <td><a href="{{ path('product_show', {id: faveProduct.id }) }}">{{ faveProduct.name }}</td>
                {% endfor %}
            </tr>
        {% if user.target == false %}
            <tr>
                <th>Add/Delete Fave</th>
                <td><a href="{{ path('user_fave_user', {'id': user.id}) }}">add/delete fave</a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
